p{
    font-style: italic;
}

p{
    font-weight: 200;
}

#name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.personalInfo{
    text-align: right;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
}

#pageTop{
    text-decoration: underline;
    text-align: center;
}

#name{
    color: slategray;
}

a{
    font-weight: bold;
    font-size: large;
}

.emphasizedText{
    font-weight: bold; font-style: italic;
    color: darkslategray;
}

body{
    background-color: whitesmoke;
    margin: 5px;
    padding: 6px
}

.common{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header{
    height: 50px;
    background-color: darkslategray;
    color: white;
    line-height: 50px;
    text-align: left;
    padding: 3px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.mainbody{
    background-color: whitesmoke;
    text-align: right;
    font-style: italic;
    line-height: 40px;
}

.footer{
    height: 30px;
    background-color: darkslategray;
    color: white;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-top: 8px;
}

nav{
    padding: 6px;
    background-color:lightgrey;
    overflow: hidden;
}

nav a{
    float: left;
    color: black;
    padding: 3px 3px;
    text-decoration: none;
}

nav a:hover{
    background-color: #ccc;
}